 <!-- <div  class="grid-container">
    <h2>
      {{title}}
      <span class="float-end">
        
      </span>
    </h2>
    
  
    <h3>Grid 1</h3>
    <angular-slickgrid
    gridId="myGrid"
    [columnDefinitions]="columnDefinitions1"
    [gridOptions]="gridOptions1"
    [dataset]="dataset1"></angular-slickgrid>
  
    </div>
  
    <hr> -->
<!-- 
    <h3>Grid 1</h3>
    <angular-slickgrid
    gridId="myGrid"
    [columnDefinitions]="columnDefinitions1"
    [gridOptions]="gridOptions1"
    [dataset]="dataset1"></angular-slickgrid> -->

 <!-- <app-branch-form></app-branch-form> -->
<!-- <app-branch-list></app-branch-list> -->
<router-outlet></router-outlet>
<!--   
<div class="grid-container">
  <h3>Grid 2</h3>
  <angular-slickgrid
  gridId="myGrid"
  [columnDefinitions]="columnDefinitions2"
  [gridOptions]="gridOptions2"
  [dataset]="dataset2"></angular-slickgrid>
</div> -->



